<footer id="footer">
    <em class="nixieglow">Nixie Tube clocks for Nixie Tube people</em>
        <br>
        <a href="https://webpages.charlotte.edu/asasso1/itis3135">Charlotte.edu</a><span class="nixieglow"> ; </span>
        <a href="https://github.com/Austin0220">GitHub</a><span class="nixieglow"> ; </span>
        <a href="https://github.com/Austin0220/Austin0220.github.io">GitHub.io</a><span class="nixieglow"> ; </span>
        <a href="https://austin0220.github.io/itis3135/">itis3135.io</a><span class="nixieglow"> ; </span>
        <a href="https://www.freecodecamp.org/Austin0220">freeCodeCamp</a><span class="nixieglow"> ; </span>
        <a href="https://www.codecademy.com/profiles/ajax4791875359">Codecademy</a><span class="nixieglow"> ; </span>
        <a href="https://www.linkedin.com/in/austin-sasso-8115012ab/">LinkedIn</a> 
        </nav>
        <br>
        <a href="sassodesigns.com/"><span class="nixieglow"> Designed By: Austin Sasso <span class="default">©</span>2024</span></a>
        <br>
    </footer>