*{
--woodsmoke: #111016;
--french-gray: #bebdc3;
--chetwode-blue: #91a3f3;
--cod-gray: #191514;
--barley-corn: #a38561;
--taupe: #3e352c;
--nutmeg: #822d2f;
--nutmeg2: #a03334;
--cocoa-bean: #541d1b;
--beauty-bush: #f2cfc9;
--black-bean: #431613;
--wisteria: #a897d8;
--platinum: #e5e3e4;
--chamoisee: #86705e;
--night: #111410;
color:var(--chetwode-blue);

}
@font-face {
  font-family: Nixie-One;
  src: url(Nixie_One/NixieOne-Regular.ttf);
}
@font-face {
  font-family: Silk-Remington;
  src: url(silk_remington/SilkRemington-SBold.ttf);
}
.nixieglow{
  color:orange;
  text-shadow: 0px 0px 5px orange,0px 0px 10px orangered,  0px 0px 15px orangered, 0px 0px 30px orangered ;
}
.default{
  font-family: none;
  color:orange;
}
main{
  margin: 0 auto;
}
nav{
  text-align:center;
}
header{
  margin: 0 auto;
}
main, body
{
  margin: 0 auto;
  font-family: Silk-Remington;
  background-color: #111016;
  font-size: 110%;
  justify-content: center;
}
h1{
  font-family:Nixie-One;
  text-align:center;
}
h2
{
  font-family: Silk-Remington;
  text-align: center;
}
a:visited{
  color: none;
  text-decoration:none;
}
a:hover{
  color:#a897d8;
}
a{
  text-decoration: none;
  color:var(--nutmeg2);
}
figure{
  justify-content:center;
  
}
img{
  margin:.5%;
}

footer{
  text-align: center;
  margin:0 auto;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
main{
  max-width:600px;
  margin:0 auto;
  width:90%;
  justify-content: center;
}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (width< 600px) {
main{
  max-width:768px;
  margin:0 auto;
  width:90%;
}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (width<= 768px) {
main{
  max-width:992px;
  margin:0 auto;
  width:90%; 
}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (width<= 992px) {
main{
  max-width: 1200px;
  margin:0 auto;
  width:90%; 
}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (width<=1200px) {
main{
  max-width:2000px;
  margin:0 auto;
  width:60%;
}
}
@media only screen and (width>1200px) {
  main{
    max-width:1500px;
    margin:0 auto;
    width:50%;
  }
  }