*{
--woodsmoke: #111016;
--french-gray: #bebdc3;
--chetwode-blue: #8899e2;
--cod-gray: #191514;
--barley-corn: #a38561;
--taupe: #3e352c;
--nutmeg: #822d2f;
--cocoa-bean: #541d1b;
--beauty-bush: #f2cfc9;
--black-bean: #431613;
--wisteria: #a897d8;
--platinum: #e5e3e4;
--chamoisee: #86705e;
--night: #111410;
color:#8899e2;
}
@font-face {
  font-family: Nixie-One;
  src: url(Nixie_One/NixieOne-Regular.ttf);
}
.nixieglow{
  font-family: Nixie-One;
  color:orange;
  text-shadow: 0px 0px 5px orangered, 0px 0px 15px orangered, 0px 0px 30px orangered ;}
body
{
  margin: 5% 10%;
  font-family: 'Times New Roman';
  background-color: #111016;
  font-size: 100%;
  
}
h1
{
  text-align: center;
}
a:visited{
  color: none;
}