<footer>
    <a href="sassodesigns.com/"><span class="nixieglow"> Designed By: Austin Sasso <span class="default">©</span>2024</span></a>
    <br>
    <a href="https://validator.w3.org/check?uri=referer" id="validation_link_html">
        <img src="images/button_validation_html5.png" width="88" height="31" alt="Validate webpage HTML.">
        <script>
            document.getElementById("validation_link_html").setAttribute("href", "https://validator.w3.org/check?uri=" + location.href);
        </script>
    </a>
    <a href="https://jigsaw.w3.org/css-validator/check/referer" id="validation_link_css">
        <script>
            document.getElementById("validation_link_css").setAttribute("href", "https://jigsaw.w3.org/css-validator/validator?uri=" + location.href);
        </script>
        <img src="images/button_validation_css.png" width="88" height="31" alt="Validate webpage CSS.">
    </a>
    <a href="https://wave.webaim.org/report#/" id="validation_link_wcag">
        <img src="images/button_validation_wcag-1.png" width="88" height="31" alt="Validate webpage Accessibility." >
        <script>
            document.getElementById("validation_link_wcag").setAttribute("href", "https://wave.webaim.org/report#/" + location.href);
        </script>
      </a>
</footer>