<header id="header">
    <h1><span class="nixieglow">ITSC-3135 ; Austin Sasso's Astute Sugar Glider</span></h1>
    <nav>
        <button type = "button" onclick = 	"document.querySelectorAll('link[rel=stylesheet]').forEach(function(e)	{e.setAttribute('href', '');});">No CSS</button>
        <a href="./">Home</a> 
        <span class="nixieglow">;</span>
        <a href="introduction.html">Introduction</a>
        <span class="nixieglow">;</span>
        <a href="contract.html">Contract</a>
        <span class="nixieglow">;</span>
        <a href="tables.html">Tables</a>
        <span class="nixieglow">;</span>
        <a href="forms.html">Forms</a>
        <span class="nixieglow">;</span>
        <a href="firstscripts.html">First Scripts</a>
        <span class="nixieglow">;</span>
        <a href="about.html">About</a>
        <span class="nixieglow">;</span>
        <a href="clientproject/">Client Project</a>
        <span class="nixieglow">;</span>
        <a href="Stuff/BAd & cRaP.htm">Crap page</a>
        <span class="nixieglow">;</span>
        <a href="hobby/index.html">Hobby Site</a>
    </nav>
        
</header>